<div class="ac-category ac-clearfix">
	<div class="ac-category-header">
		{{this.category}}
	</div>
	
	<div class="ac-category-content">
		{{#each this.data}}
			{{#with this.data}}
				<a href="{{Link}}" title="{{Title}}">
					<div class="ac-image-card">
						<div class="ac-image-crop">
							<img class="ac-image" src="{{Thumbnail}}">
						</div>
						<div class="ac-image-caption-container">
							<div class="ac-image-caption-text">
								{{#if DisplayName}}
									{{highlightMatch DisplayName ../../../this.searchTerm}}
								{{else}}
									{{highlightMatch Title ../../../this.searchTerm}}
								{{/if}}
							</div>
						</div>
					</div>
				</a>
			{{/with}}
		{{/each}}
	</div>
</div>