<div class="ac-category">
	<div class="ac-category-header ac-clearfix">
		{{this.category}}
	</div>
	
	<div class="ac-category-content">
		{{#each this.data}}
			{{#with this.data}}
				<a href="{{Link}}" title="{{Title}}">
					<div class="ac-image-card">
						<div class="ac-image-crop">
							<img class="ac-image" src="{{Thumbnail}}">
						</div>
						<div class="ac-image-caption-container">
							<div class="ac-image-caption-text">
								{{Title}}
							</div>
						</div>
					</div>
				</a>
			{{/with}}
		{{/each}}
	</div>
</div>